#app {
    width:100%;
    height:100%;
    background: #f1f3f5;
    overflow: auto;
    position: relative;
}

.dark {
    width: 100%;
}

#app::-webkit-scrollbar {
    width:0px;
    height:0px;
}

#app .addHeight {
    height:2.8rem;
}

#app .appMargin {
    margin: 0 1.2rem;
    position: relative;
}

.backgroundColor {
    display: none;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
    background-color: rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.dark .backgroundColor {
    display: none;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
    background-color: rgba(0,0,0,0.4);
    box-sizing: border-box;
}

/* -----------------------标题栏 --------------------------*/
.header {
    width:100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #f1f3f5;
    z-index:999;
}

.dark .header {
    background: black;
}

.headerWrap {
    margin:0 1.2rem;
}
.header .iphoneStatus {
    width: 100%;
}

.header .devTitle {
    width:100%;
    height:5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .devTitle .devName {
    flex:1;
    padding:0 0.4rem 0 0.4rem;
    height:3.6rem;
    line-height: 3.6rem;
    color: rgba(0, 0, 0, 0.9);
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.dark .header .devTitle .devName {
    color:rgba(255, 255, 255, 0.86);
}

.header .barLeft {
    width:3.6rem;
    height:3.6rem;
    display: flex;
    align-items: center;
}

.barLeft .goApp {
    margin: auto;
    width:2.4rem;
    height: 2.4rem;
    background: url('../img/light/public/ic_back.png') no-repeat;
    background-size: cover;
}

.dark .barLeft .goApp {
    background: url('../img/dark/public/ic_back.png')  no-repeat ;
    background-size: cover;
}

.header .barRight {
    width:4.8rem;
    height:4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barRight .devMore {
    width:2.4rem;
    height: 2.4rem;
    background: url('../img/light/public/ic_set.png') no-repeat;
    background-size: cover;
}

.dark .barRight .devMore {
    background: url('../img/dark/public/ic_set.png') no-repeat;
    background-size: cover;
}
/* ----------------------设备+logo -------------------------------*/
.devImg {
    width:100%;
    display: flex;
    flex-direction: column;
}

.devImg .devTop{
    height:5.6rem;
;
}

.devImg .deviceImg {
    width:25.2rem;
    height:25.2rem;
    align-self: center;
    background: url('../img/light/device.png') no-repeat;
    background-size: cover;
}

.dark .devImg .deviceImg {
    opacity: 0.86;
}

.devImg .logo {
    width:7rem;
    height:  1.8rem;
    align-self: center;
    background: url('../img/light/logo.png') no-repeat;
    background-size: cover;
}

.dark .devImg .logo {
    background-color: #999999;
}

/* ------------------------设备状态 -------------------------------*/
.devStatus {
    width: 100%;
    height: 8.8rem;
    margin-top:1rem;
    position: relative;
    border-radius: 1.6rem;
    background: #fff;
}

.dark .devStatus {
    background: #303030; 
}

.devStatus .statusLeft {
    width:24%;
    position: absolute;
    left: 1.6rem;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.devStatus .statusLeftIpad {
    line-height: 4.8rem;
    width:4.8rem;
    height: 4.8rem;
    width:calc(100%/3);
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    text-align: center;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.dark .devStatus .statusLeftIpad {
    color:rgba(255, 255, 255, 0.86);
}

.dark .devStatus .statusLeft {
    color:rgba(255, 255, 255, 0.86);
}

.devStatus .statusRightIpad{
    width:5rem;
    height: 5rem;
    width:calc(100%/3);
    display: flex;
    justify-content: center;
    position: absolute;
    right:0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
} 

.devStatus .statusRight{
    width:5rem;
    height: 5rem;
    position: absolute;
    right:1.3rem;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
} 
